.character{
  height:150px;
  width:200px;
  border-radius:10px;
  margin-bottom:10px;
  color:white;
  box-sizing:border-box;
  padding:8px;
  position:relative;
}

.character div{
  margin-bottom:10px;
}

.autobot{
  background-color:red;
  border:1px solid #991f00;
}

.decepticon{
  background-color:#660066;
  border:1px solid #330033;
}

img{
  height:40px;
  position:absolute;
  top:2px;
  right:2px;
}